<section class="Register flex justify-center pt-24">
    <div class="w-full max-w-xs">
        <form action="/register" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <% if(messages.error){ %>
            <span class="text-red-500 text-sm"><%=messages.error%></span>
          <%}%>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                 Name
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="name" name="name" value=<%=messages.name%>>
              </div>

          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
              Username
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username" name="Username"  value=<%=messages.Username%>>
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
              Password
            </label>
            <input class="shadow appearance-none border  rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************" name="password">
          <div class="flex items-center justify-between">
            <button class="order_now_button  px-4 py-2  rounded-full text-white font-bold mt-5 mb-5" type="submit">
              Register
            </button>
            <a class=" already_have_account inline-block align-baseline  text-sm  font-bold" href="/login">
              Already have account?
            </a>
          </div>
        </form>
      
      </div>
</section>