
    <!------------------------------------------ hero section -------------------------------------------------------->
    <!-- <section class="hero py-16">
      <div class="container flex items-center justify-between">
        <div class="flex flex-col justify-center pl-16 w-1/2">
          <h6 class="text-lg pb-2"><em>Are you hungry?</em></h6>
          <h1 class="text-6xl font-bold">Don't Wait!!</h1>
        </div>
        <div class="   w-1/2">
          <img  src="/img/hero-pizza.png" alt="hero-pizza" />
        </div>
      </div>
    </section> -->

    <section class="hero py-16">
      <div class="container flex flex-col md:flex-row items-center justify-between">
        <div class="k justify-center md:pl-16 md:w-1/2">
          <h6 class="text-lg pb-3"><em>Are you hungry?</em></h6>
          <h1 class="text-4xl md:text-6xl font-bold pb-5">Don't Wait!!</h1>
          <button class=" order_now_button  mx-4 px-6 py-2 rounded-full text-white font-bold mt-4">Order Now</button>
        </div>
        <div class=" pt-6 md:w-1/2 ">
          <img class="mx-auto pl-6 " src="/img/hero-pizza.png" alt="hero-pizza" />
        </div>
      </div>
    </section>
    <!------------------------------------------------------- menu section ----------------------------------------------------->
    <section class="menu container mx-auto py-30">
      <h1 class="pl-8 text-2xl font-bold mb-8">Grab Your Bite...</h1>
      <!-- ----------------------------------------grid created------------------------------------------------- -->
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-4">
       
        <!-- Add more items here -->
        <!------------------------------------------ Card ----------------------------------------------->
        <%pizzas.forEach(function(pizza){ %>
         
            <div>
              <div>
                <img class="h-40 mb-4 mx-auto" src="/img/<%= pizza.image%>" alt="pizza" />
                <div class="text-center">
                  <h2 class="mb-4 text-lg"><%=pizza.name%></h2>
                  <span class="size px-4 rounded-full uppercase text-xs"><%=pizza.size%></span>
                  <div class="flex items-center justify-around py-5">
                    <span class="font-bold text-lg">$<%=pizza.price%></span>
                    <button
                      class="add-to-cart py-2 px-4 rounded-full flex items-center font-bold"
                    >
                      <span class="">+</span>
                      <span class="ml-3">Add</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

       <% })%>
        
  
      </div>
    </section>
