body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

.cart_image {
  background: #ec0606;
}
.cart_image:hover {
  background: #513c3c;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #ec0606;
}

section.hero {
  background: #F8F8F8;
}

.size {
  background: #F8F8F8;
}

.add-to-cart {
  border: 2px solid #ec0606;
  color: #ec0606;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background: #ec0606;
  border-color: #fff;
  color: #fff;
}

.order_now_button {
  background: #ec0606;
  transition: all 0.3s ease-in-out;
}
.order_now_button:hover {
  background: #513c3c;
}

section.cart {
  background: #F8F8F8;
}

.total-amount {
  color: #ec0606;
}

section.Register {
  background: #F8F8F8;
  min-height: 100vh;
}

.already_have_account {
  color: #ec0606;
}
.already_have_account:hover {
  color: #513c3c;
}

section.login {
  background: #F8F8F8;
  min-height: 100vh;
}

.link {
  color: #ec0606;
}
