body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

.cart_image {
  background: #ec0606;
}
.cart_image:hover {
  background: #513c3c;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #ec0606;
}

section.hero {
  background: #F8F8F8;
}

.size {
  background: #F8F8F8;
}

.add-to-cart {
  border: 2px solid #ec0606;
  color: #ec0606;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background: #ec0606;
  border-color: #fff;
  color: #fff;
}

.order_now_button {
  background: #ec0606;
  transition: all 0.3s ease-in-out;
}
.order_now_button:hover {
  background: #513c3c;
}

section.cart {
  background: #F8F8F8;
}

.total-amount {
  color: #ec0606;
}

section.Register {
  background: #F8F8F8;
  min-height: 100vh;
}

.already_have_account {
  color: #ec0606;
}
.already_have_account:hover {
  color: #513c3c;
}

section.login {
  background: #F8F8F8;
  min-height: 100vh;
}

.link {
  color: #ec0606;
}

.status {
  background: #F8F8F8;
  min-height: calc(100vh - 98px);
}

.status-box ul {
  margin-left: 80px;
}

.status-box ul li span {
  position: relative;
}

.status-box ul li span::after {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  background: #232323;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translateY(-50%);
}

.status-box ul li span::before {
  font-family: "Line Awesome Free";
  font-size: 46px;
  font-weight: 600;
  position: absolute;
  left: -90px;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
}

.status-box ul li:nth-child(1) span::before {
  content: "\f328";
}

.status-box ul li:nth-child(2) span::before {
  content: "\f46c";
}

.status-box ul li:nth-child(3) span::before {
  content: "\f818";
}

.status-box ul li:nth-child(4) span::before {
  content: "\f5b6";
}

.status-box ul li:nth-child(5) span::before {
  content: "\f560";
}

.status-box ul li {
  position: relative;
}

.status-box ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -17px;
  width: 3px;
  height: 100%;
  background: #232323;
  margin-top: 10px;
}

.status-box ul li:nth-child(5) span::after {
  box-shadow: 0px 18px 1px 14px #F8F8F8;
}

.status-box ul li.step-completed::before {
  background: #ccc;
}

.status-box ul li.step-completed span::after {
  background: #ccc;
}

.status-box ul li.step-completed span {
  color: #ccc;
}

.status-box ul li.current span::after {
  background: #ec0606;
}

.status-box ul li.current span {
  color: #ec0606;
}

@media only screen and (max-width: 600px) {
  .status-box ul li small {
    visibility: hidden;
  }
}
.status-box ul li small {
  float: right;
  font-size: 14px;
}
