<section class="cart">
    <div class=" order container mx-auto w-1/2">
        <div class="text-left border-b border-gray-300 py-8">
            <h1 class="text-2xl font-bold ">🛒 Order Summary</h1>
        </div>
        <div class="pizza-list justify-between ">
            <!-- ----------- -----------------------------------item1----------------------------------------------------- -->
            <div class="flex justify-between my-7">
                <img class="w-24 pt-2" src="/img/piz1.jpg" alt="pizza_image">
               <div class="pt-6 ">
               <h1 class="text-xl font-bold">Margrita</h1>
               <span lass="text-lg">Medium</span>
              </div>
              <span class="text-lg pt-6">1 Pcs</span>
               <span class="text-xl font-bold pt-6">$300</span>
            </div>
         <!-- -------------------------------------------------------item2 -------------------------------------- -->
         <div class="flex justify-between my-7">
            <img class="w-24 pt-2" src="/img/piz1.jpg" alt="pizza_image">
           <div class="pt-6 ">
           <h1 class="text-xl font-bold">Margrita</h1>
           <span lass="text-lg">Medium</span>
          </div>
          <span class="text-lg pt-6">1 Pcs</span>
           <span class="text-xl font-bold pt-6">$300</span>
        </div>
         <!-- --------------------------------------------------------item3 ----------------------------------------- -->
         <div class="flex justify-between my-7">
            <img class="w-24 pt-2" src="/img/piz1.jpg" alt="pizza_image">
           <div class="pt-6 ">
           <h1 class="text-xl font-bold">Margrita</h1>
           <span lass="text-lg">Medium</span>
          </div>
          <span class="text-lg pt-6">1 Pcs</span>
           <span class=" text-xl font-bold pt-6">$300</span>
        </div>
       <!-- ----------------------------------------------------------- total amount section -------------------------- -->
        <hr class="border-b border-gray-300">
        <h1 class="font-bold text-xl text-right my-5">Total Amount:<span class="total-amount font-bold"> $900</span></h1>
    </div>

    <!-- <div class="empty-cart">
        <div class="container mx-auto text-center flex flex-col items-center">
            <h1 class="py-6 font-bold text-2xl sm:text-3xl lg:text-4xl">Empty Cart 😔</h1>
            <p class="mb-12  text-lg sm:text-xl lg:text-2xl text-gray-500">You have not ordered anything yets</p>
            
            <img class="mx-auto my-5 h-auto max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg rounded-lg" src="/img/empty-cart.png" alt="cart_image">
            <a href="/" >
                <button class="order_now_button  px-4 py-2  rounded-full text-white font-bold mt-12 mb-5 ">Go Back</button>
            </a>
        </div>
    </div> -->
</section>

